body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #009ce1, #005f89, #c56100, #ca4900);
  background-size: 600% 600%;

  -webkit-animation: bgChange 24s ease infinite;
  -moz-animation: bgChange 24s ease infinite;
  animation: bgChange 24s ease infinite;
}

@-webkit-keyframes bgChange {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}
@-moz-keyframes bgChange {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}
@keyframes bgChange {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}

.main {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
.main__container {
  display: flex;
  align-items: center;
  width: 80%;
  position: absolute;
  top: 16px;
  left: 5%;
}
.main__title {
  font-family: 'Source Sans Pro', sans-serif;
  color: #e6eceb;
  font-size: 1.5rem;
  letter-spacing: -0.8px;
}
.main__loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.main__login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background: #5ccb41;
  color: white;
  font-size: 1.2rem;
  border: none;
  padding: 12px 32px;
  border-radius: 35px;
  border: 4px solid #78d662;
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;
  outline: none;
}

.main__logo {
  position: absolute;
  right: 16px;
  bottom: 16px;
  width: 200px;
}

@media screen and (max-width: 480px){
    .main__login {
      font-size: 1rem;
    }
    .main__title {
      font-size: 0.8rem;
      letter-spacing: 0;
    }
    .main__hr {
      height: 1px;
      border: 2px;
    }
}

.cloud-container {
  position: absolute;
  margin: auto;
  top:20%;
  bottom:0;
  left:30%;
  right:0;
}

.cloud {
  z-index: -1;
  margin: auto;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background: #e6eceb;
  width: 90px;
  height: 42px; 
  animation: clouds 40s ease-in-out infinite;
  -webkit-animation: clouds 40s ease-in-out infinite;
  margin-left: 0;
}

.cloud:before {
  border-radius: 50%;
  box-shadow: 20px -20px 0 0 #e6eceb,
              90px 0 0 0 #e6eceb,
              60px -27px 0 8px #e6eceb;
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  left: -22px;
  bottom: 0;
  background: #e6eceb;
}

.cloud:nth-child(1){ top: auto; bottom: 120px; opacity: 0.85}
.cloud:nth-child(2){ right: auto; left: 320px; opacity: 0.5}
.cloud:nth-child(3){ bottom: auto; top: 120px; right: auto; left: 80px; opacity: 0.75;}
.cloud:nth-child(4){ bottom: auto; top: 50px; left: 500px; opacity: 0.65;}
.cloud:nth-child(5){ bottom: auto; top: 100px; left: 600px; opacity: 0.65;}
.cloud:nth-child(6){ bottom: auto; top: auto; right: auto; left: 50px; opacity: 0.65;}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {transform: scale(0);}
  100% {transform: scale(1);}
}

@keyframes lds-ellipsis2 {
  0% {transform: translate(0, 0);}
  100% {transform: translate(19px, 0);}
}

@keyframes lds-ellipsis3 {
  0% {transform: scale(1);}
  100% {transform: scale(0);}
}

@keyframes clouds /*Safari and Chrome*/ {
  0% {margin-left:-300px;}
  50% {margin-left:300px;}
  100% {margin-left: -300px;}
}
