<!DOCTYPE html>
<html>

<head>
    <title>Webpage Title</title>
    <!-- NOTE below the formats for using static files like css or a script(js) file -->
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<button onclick="spotify_redirect()">Login to Spotify</button>

<!-- Adding Jquery for ease in AJAX call -->
<script
src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>