<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{url_for('static', filename='play.css')}}">
  <title>What Does Your Weather Sound Like?</title>
</head>
<body>
  <div class="play__container">
    <div class="play__header">
      <p>{{ boseInfo }}</p>
      <p>{{ playlist_title }}</p>
    </div>
    <div class="play__album">
      <img src="{{ art }}" alt="album-image" class="play__album__image">
    </div>
    <div class="play__content">
      <p class="play__content__track">{{ track }}</p>
      <p class="play__content__artist">{{ artist }}</p>
      <p class="play__content__album">{{ album }}</p>
    </div>
  </div>
</body>
</html>